<script defer type="text/javascript" src="../public/js/viewpostScript.js"></script>
{{log this}}
<main id="postsMain">
    <section class="imageSection">

        <b>{{currentPost.title}}</b> - {{currentPost.username}} <br><br>
        <img class="imageScaling" src="/{{currentPost.image}}" alt="dead image">
        <br>{{currentPost.description}}<br>
        <i>{{formatDate currentPost.createdAt}}</i> <br>

    </section>
    <div id="commentDiv"></div>
</main>

