<script defer type="text/javascript" src="../public/js/viewpostScript.js"></script>
<main id="postsMain">
    <div>
        <section class="imageSection">

            <b>{{currentPost.title}}</b> - {{currentPost.username}} <br><br>
            <img class="imageScaling" src="/{{currentPost.image}}" alt="dead image">
            <br>{{currentPost.description}}<br>
            <i>{{formatDate currentPost.createdAt}}</i> <br>

        </section>
        <br><br>
        <div class="newComment">
            {{#if isLoggedIn}}
                <div id="gri">
                    <span id="textArea" class="textareacodepen" role="textbox" contenteditable></span>
                    <button id="commentButton"
                            class='submitButtons'
                            type='submit'
                            data-postid="{{currentPost.id}}"
                            aria-hidden="true"
                            style="margin-top: 1rem">
                        submit
                    </button>
                </div>
            {{else}}
                <div id="gri">Please be logged in to comment</div>
            {{/if}}
        </div>

    </div>

    {{#if currentPost.comments.length}}
    <div id='commentDiv'>

        {{#each currentPost.comments}}
            <div class='comments' id="comment-{{id}}">
                <div style='grid-area:uname; font-weight:bold'>
                    {{username}}
                </div>
                <div style='grid-area:stamp'>
                    {{formatDate createdAt}}
                </div>
                <div style='grid-area:comment'>
                    {{text}}
                </div>
            </div>
        {{/each}}

    </div>
    {{/if}}

</main>

